




.container {
    width: 100vw;
    height: 100vh;
}

.gap2 {
    gap: 5px;
}





.topRow {
    width: 100vw;
    flex-wrap: wrap;
    /* padding-inline: 70px; */
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* padding-inline: 70px; */

}

.ourTeam {
    padding: 30px 0 40px;
    margin: 30px 50px;
    text-align: center;
    overflow: hidden;
    position: relative;
    min-width: 300px;
    width: 20%;
    min-height: 330px;
    height: 45%;
    border-radius: 15px;

    background: whitesmoke;
    backdrop-filter: blur(3px);
}

@media only screen and (max-width: 600px) {
    .ourTeam{
        margin-inline: 0;
    }
}

.ourTeam .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}

.ourTeam .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.ourTeam:hover .picture::before {
    height: 100%;
}

.ourTeam .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--hover-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ourTeam .picture .imgFluid {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.ourTeam:hover .picture .imgFluid {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.ourTeam .name {
    color: #1b1d1d;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    .nameSpan{
        color: #1b1d1d;
    }
}

.ourTeam .title {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #4e5052;
    text-transform: capitalize;
}

.ourTeam .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--hover-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.ourTeam:hover .social {
    bottom: 0;
}

.ourTeam .social li {
    display: inline-block;
    margin-inline: 20px;
}

.ourTeam .social li a {
    display: block;
    padding: 10px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    .icon {
        font-size: 25px;
        font-weight: 500;
    }
}

.ourTeam .social li a:hover {
    color: var(--hover-color);
    background-color: var(--hover-social-icon);

    .icon {
        font-weight: 500;
    }
}

    